.col-md-12
  .panel.panel-default
    .panel-heading
      %h4 
        Edit #{resource_name.to_s.humanize}
    .panel-body
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }, defaults: { input_html: { class: 'form-control' } }) do |f|
        = f.error_notification
        .form-group
          = f.input :email, required: true, autofocus: true
        .form-group
          = f.input :company_name, required: true, value: current_user.company_name
        .form-group
          = f.input :url, value: current_user.url
        .form-group
          = f.input :description, value: current_user.description, input_html: { rows: '5' }
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
        .form-group
          = f.input :password_confirmation, required: false
        .form-group
          = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
        %hr
        .form-actions
          = f.button :submit, "Update", class: 'btn btn-success pull-right'
      %p
        Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      = link_to "Back", :back
