.col-md-12
  .panel.panel-default
    .panel-heading
      %h4 Sign up
    .panel-body
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, defaults: { input_html: { class: 'form-control' } }) do |f|
        = f.error_notification
        .form-group
          = f.input :email, required: true, autofocus: true
        .form-group
          = f.input :company_name, required: true
        .form-group
          = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
        .form-group
          = f.input :password_confirmation, required: true
        %hr
        .form-actions
          = f.button :submit, "Sign up", class: 'btn btn-success pull-right'
      = render "devise/shared/links"
