= simple_form_for @job, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.input :title, input_html: { class: 'form-control' }
  .form-group
    = f.input :content, as: :ckeditor, input_html: { class: 'form-control', rows: 7, ckeditor: { toolbar: 'simple' } }
  %label Valid till  
  .row
    = f.input :valid_till, input_html: { class: 'form-control' }, label: false, start_year: Date.today.year
  %hr
  = f.button :submit, class: 'btn btn-success pull-right' 