%table.table
  %thead
    %tr
      %th Title
      %th Company
      %th Date
      %th Valid
      - if with_actions
        %th{width: '52px'}
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.title, job
        %td 
          - unless job.user.logo.nil?
            = image_tag(job.user.logo_url(:thumb), class: 'thumb-logo')
          = link_to job.user.company_name, user_profile_index_path(job.user)
        %td= job.created_at.to_date
        %td= job.valid_till.to_date
        - if with_actions
          %td
            = link_to edit_job_path job do
              %span.glyphicon.glyphicon-pencil
            = link_to job_path(job), data: { confirm: "Are you sure?" }, method: :delete do
              %span.glyphicon.glyphicon-trash
