.col-md-12
  .panel.panel-default
    .panel-heading
      %h4= @job.title
      %a.btn.btn-default{href: jobs_path}
        %span.glyphicon.glyphicon-chevron-left
        Back to List
    .panel-body
      %p= sanitize @job.content