.col-md-12
  .panel.panel-default
    .panel-heading
      %h4 Forgot your password?
    .panel-body
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f|
        = f.error_notification
        .form-group
          = f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' }
        %hr
        .form-actions
          = f.button :submit, "Send me reset password instructions", class: 'btn btn-success pull-right'
      = render "devise/shared/links"
