.col-md-12
  .panel.panel-default
    .panel-heading
      %h4 Log in
    .panel-body
      Email: hr@google.com
      %br
      Passowrd: googlegoogle
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|
        .form-group
          = f.input :email, required: false, autofocus: true, input_html: {class: 'form-control'}
        .form-group
          = f.input :password, required: false, input_html: {class: 'form-control'}
        .form-group
          .col-md-4
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        %hr
        .form-actions
          = f.button :submit, "Log in", class: 'btn btn-success pull-right'
      = render "devise/shared/links"
