- is_owner = user_signed_in? ? @user.id == current_user.id : false
.col-md-4.col-sm-6
  .well.well-sm
    .media
      %h4.media-heading= @user.company_name
      %a.thumbnail{href: "#{@user.url}", target: '_blank'}
        = image_tag(@user.logo_url(:standard), class: 'media-object')
      .media-body
        - if is_owner
          = link_to edit_user_registration_path, class: 'btn btn-default' do
            %span.glyphicon.glyphicon-user
            Update Info
          %button.btn.btn-default{ :'data-toggle' => 'modal', :'data-target' => '#myModal'}
            %span.glyphicon.glyphicon-open
            Upload Logo
        %hr
        %p= @user.description

.col-md-8
  .panel.panel-default
    .panel-heading
      %h4 Jobs
    .panel-body
      .table-responsive
        = render 'jobs/table', with_actions: is_owner

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %p#myModalLabel.modal-title Upload Logo
      .modal-body
        - if is_owner
          = form_for @user, url: (user_logo_index_path(user_id: current_user.id)), html: {method: 'post'} do |f|
            = f.file_field(:logo)
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              %button.btn.btn-primary{:type => "submit"} Upload
