!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'content-type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1', name: 'viewport'}
    %title HRapp
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %nav.navbar.navbar-fixed-top.header
      .col-lg-12
        .navbar-header
          = link_to 'HRapp', root_path, class: 'navbar-brand'
          %button.navbar-toggle{'data-target' => '#navbar-collapse1', 'data-toggle' => 'collapse', type: 'button'}
            %i.glyphicon.glyphicon-search
        #navbar-collapse1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li
                = link_to 'Add New Job', new_job_path
              %li
                %a.dropdown-toggle{'data-toggle' => "dropdown", href: '#'}
                  = current_user.email
                  %i.glyphicon.glyphicon-user
                %ul.dropdown-menu
                  %li
                    = link_to 'Profile', user_profile_index_path(current_user)
                    = link_to 'Sign out', destroy_user_session_path, method: :delete
            -else
              %li
                = link_to 'Sign in', new_user_session_path
              %li
                = link_to 'Sign up', new_user_registration_path
    #main.container
      .row
        = yield
        %br/
        .footer
          .clearfix
          %hr/
          .col-md-12.text-center
            %p
              Ruby on Rails, RSpec, Capybara
              %br/
              %a{:href => "https://github.com/lekishvili/hrapp", :target => "_ext"} Find me on GitHub
              
